*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
}

*:before, *:after{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.v-center{
  align-items: center;
}

.header .item-left{flex: 0 0 17%;}
.header .item-center{flex: 0 0 66%;}
.header .item-right{flex: 0 0 17%;display: flex; justify-content: flex-end;}

.header .item-right a{
  font-size: 18px;
  color: black;
  margin-left: 15px;
  display: inline-block;
}

.header .item-right a:hover{
  color: teal;
}

.header{
  position: sticky;
  top: 0px;
  left: 0;
  background-color: white;
  display: block;
  z-index: 999;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.header .logo a{
  color: black;
  font-size: 20px;
  letter-spacing: 2px;

  font-weight: 900;
  line-height: 20px;
}

.header .logo a span{
  font-size: 30px;
  color: red;
}

.header .menu > ul > li{
  display: inline-block;
  margin-left: 20px;
  line-height: 20px;
}

.header .menu > ul > li > a{
  position: relative;
  display: block;
  color: black;
  font-size: 14px;
}

.header .menu > ul > li > a:hover{
  color: rgb(180, 8, 8);
  transition: all 0.4s ease;
}

/*MEGA MENU*/

.header .menu > ul > li .sub-menu{
  position: absolute;
  z-index: 500;
  background-color:white;
  padding: 30px 35px;
  margin-top: 25px;
  border-bottom: 2px solid rgb(180, 8, 8);
  opacity: 0;
  visibility: hidden;
}

@media (min-width:992px){
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu{
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
      margin-top: 0px;
  }
}

.header .menu > ul > li .sub-menu.mega-menu{
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.header .menu > ul > li .sub-menu.mega-menu > .list-item{
  flex: 0 0 25%;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item .title{
  font-size: 15px;
  color: rgb(180, 8, 8);
  font-weight: 600;
  text-transform: uppercase;
  font-family: monospace;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
  display: block;
  line-height: 10px;
  margin: 10px 0;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
  display: block;
  color: #444;
  font-size: 15px;
  font-family: monospace;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title{
  text-align: center;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0px 10px;
}
/*END OF MEGA MENU*/

/*RESPONSIVE NAVBAR*/

.mobile-menu-head,
.mobile-menu-trigger{
  display: none;
}


@media (max-width:991px){
  .header .item-center{
      order: 3;
      flex: 0 0 100%;
  }

  .header .item-right,
  .header .item-left{
      flex: 0 0 auto;
  }

  .v-center{
      justify-content: space-between;
  }

  .header .mobile-menu-trigger{
      display: flex;
      width: 30px;
      height: 30px;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  .header .mobile-menu-trigger span{
      position: relative;
      display: block;
      width: 24px;
      height: 2px;
      background-color: black;
  }

  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
  }

  .header .mobile-menu-trigger span:before{
      top: -6px;
  }

  .header .mobile-menu-trigger span:after{
      top: 6px;
  }


  .header .item-right{
      align-items: center;
  }

  .header .menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 320px;
      height: 100%;
      overflow: hidden;
      z-index: 1099;
      background-color: white;
      transform: translate(-100%);
  }

  .header .menu.active{
      transform: translate(0%);
  }

  .header .menu > ul > li{
      display: block;
      line-height: 1;
      margin: 0;
  }

  .header .menu > ul > li > a{
      display: block;
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      padding: 0px 50px 0px 15px;
  }

  .header .menu > ul > li > a i{
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      transform: rotate(-90deg);
  }

  .header .menu .mobile-menu-head{
      display: flex;
      width: 100%;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 5012;
  }

  .header .menu .mobile-menu-head .go-back{
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-right: 1px solid rgba(0,0,0,0.3);
      cursor: pointer;
      display: none;
      font-size: 18px;
      font-weight: 900;
  }

  .header .menu .mobile-menu-head.active .go-back{
      display: block;
  }

  .header .menu .mobile-menu-head .current-menu-title{
      font-size: 1.1rem;
      font-weight: 600;
  }

  .header .menu .mobile-menu-head .mobile-menu-close{
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-left: 1px solid rgba(0,0,0,0.3);
      font-size: 19px;
      font-weight: 900;
  }

  .header .menu .menu-main{
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
  }

  .header .menu > ul > li .sub-menu,
  .header .menu > ul > li .sub-menu.mega-menu{
      opacity: 1;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-x: auto;
      max-width: none;
      min-width: auto;
      transform: translateX(0%);
      padding-top: 50px;
      display: none;
  }

  .header .menu > ul > li .sub-menu.active{
      display: block;
  }


  @keyframes slideLeft{
      0%{
          opacity: 0;
          transform: translateX(100%);
      }

      100%{
          opacity: 1;
          transform: translateX(0%);
      }
  }

  @keyframes slideRight{
      0%{
          opacity: 1;
          transform: translateX(0%);
      }

      100%{
          opacity: 0;
          transform: translateX(100%);
      }
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item{
      flex: 0 0 100%;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
      display: block;
      line-height: 10px;
      margin: 10px 0;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title{
      margin: 10px 0;
  }

  .menu-overlay{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      z-index: 1098;
  }

  .menu-overlay.active{
      opacity: 1;
      visibility: visible;
  }

}

/*END OF RESPONSIVE NAVBAR*/

/*SLIDER*/

.home{
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.home .slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  display: none;
}

.home .slide.active{
  display: flex;
}

.home .controls .prev,
.home .controls .next{
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.home .controls .prev{
  left: 20px;
}

.home .controls .next{
  right: 20px;
}

/*END OF SLIDER*/

/*FEATURE PRODUCTS*/

.features{
  display: flex;
  justify-content: center;
  margin: 10px auto 40px auto;
}

.products-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.feature-box{

  margin: 0px 20px;
  cursor: pointer;
  margin: 20px;
}
.feature-box img{
  width: 80px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item span{
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
}

/*end of FEATURE PRODUCTS*/

/*PRODUCTS*/

.new-arrival{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.arrival-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrival-heading strong{
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
}

.product-container{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.product-box{
  display: flex;
  flex-grow: 0.5;
  align-items: center;
  flex-direction: column;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin: 20px;
}

.product-img {
  width: 200px;
  height: 210px;
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.add-cart{
  position: absolute;
  bottom: -10%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: navy;
  color: white;
  display: none;
}

.add-cart:hover{
  background-color: rgb(40, 73, 172);
  transition: all 0.3s ease;
}

.product-box:hover{
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.product-box:hover .add-cart{
  display: flex;
}

.product-details{
  display: flex;
  width: 100%;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #f3f3f3;
}

.p-name{
  color: #444;
}

.p-price{
  color: #444;
  font-weight: 900;
  font-size: 19px;
}

/*END OF PRODUCTS*/

/*SALES*/
.sale{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

.sale-box{
  width: 280px;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-grow: 0.5;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}

.sale-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center ;
}

.sale-box:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sale-box:hover::before{
  opacity: 1;
  visibility: visible;
}

.shop-now{
  position: absolute;
  bottom: 20%;
  left: 25px;
  color: white;
  font-size: 20px;
  font-family: monospace;
  font-weight: 900;
  display: none;
}

.shop-now:hover{
  border-bottom: 3px solid white;
  line-height: 20px;
  transition: all 0.3s ease;
}

.sale-box:hover .shop-now{
  display: block;
}

/*END OF SALES*/

/*SOCIAL CALL - UPPER HEADER*/
.social-call{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
}

.social{
  margin: 40px;
}
.social a{
  font-size: 20px;
  color: black;
  margin-left: 10px;
}


.phone {
  color: black;
  font-size: 15px;
}

.phone strong{
  font-weight: 900;
  cursor: pointer;
}

/*END OF SOCIAL CALL - UPPER HEADER*/

sectio{
  width: 98%;
  height: 200px;
  /*background: red;*/

  display: flex;
  margin-top: 20px;
  overflow-x: auto;
}

sectio .product{
  
  height: 20vh;
  background: whitesmoke;
  margin:  0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 90;
  transition: 0.5s;

}

picture{
  width: 200px;
  height: 100%;
  object-fit: cover;

  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
}
picture img{
  width: 100%;
  height: 20vh;
  
  margin:  0 20px  0 0;
  border-radius: 20px;
  

  transition: 0.5s;
}

----------

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}



-----------------
