@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap");

:root {
  --font-primary: "Helvetica", sans-serif;
  --font-secondary: "Merriweather", serif;
  --space: 0.5rem;
  --space-sm: calc(var(--space) / 2);
  --space-lg: calc(var(--space) * 4);
}

/* Grid properties */
.box {
  display: grid;
  grid-template:
    [box-start] "tagline actions" [box-end] /
    [box-start] 1fr auto [box-end];
}

.box > *,
.box::before {
  grid-area: box;
}

.tag {
  place-self: start;
}

.title {
  place-self: center;
}

.tagline {
  grid-area: tagline;
  place-self: end start;
}

.actions {
  grid-area: actions;
  place-self: end;
}

/* Box styles */
.box {
  --color: white;
  --bg-color: crimson;

  direction: var(--direction, ltr);
  position: relative;
  overflow: hidden;
  padding: var(--space-sm);
  color: var(--color, white);
  border: 4px solid var(--bg-color, crimson);
}

.box::before {
  content: "";
  position: relative;
  background: black;
  opacity: 0.4;
  z-index: -1;
  transition: opacity 200ms ease-out;
}

.box img {
  position: relative;
  inline-size: 100%;
  height: auto;
  z-index: -2;
}

.tag {
  padding: var(--space);
  color: var(--color);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  background-color: var(--bg-color);
}

.title {
  padding: var(--space);
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  line-height: 1.2;
  text-align: center;
  user-select: none;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.title a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tagline {
  padding: var(--space-sm) var(--space);
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.2;
  user-select: none;
}

.actions {
  position: relative;
  display: flex;
  padding: var(--space-sm);
  gap: var(--space-sm);
}

.btn {
  display: flex;
  cursor: pointer;
  padding: var(--space);
  font-size: inherit;
  font-family: inherit;
  color: var(--color);
  background-color: var(--bg-color);
  border: none;
}

.btn:hover {
  filter: contrast(80%);
}

.btn:active {
  transform: translateY(1px);
}

[data-icon] {
  inline-size: 1em;
  fill: currentcolor;
}

/* Transitions */
.box {
  transition: border-color 200ms ease;
}

.box:hover {
  border-color: transparent;
}

.box .tagline {
  opacity: 0;
}

.box .title,
.box .tagline,
.box::before {
  transition: opacity 200ms ease;
}

.box:hover .title,
.box:hover .tagline,
.box:hover::before {
  opacity: 0;
}

.box:hover .tagline {
  opacity: 1;
}

.img {
  transition: transform 200ms ease-out;
}

.box:hover .img {
  transform: scale(1.05);
}

/* Other styles */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
  padding: calc(var(--space) * 2);
  margin-block-start: var(--space-lg);
  margin-block-end: var(--space-lg);
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-inline-size: 1000px;
}


select {
  font-size: inherit;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  grid-gap: calc(var(--space) * 2);
  padding-block-end: var(--space-lg);
  inline-size: 100%;
}
