{% extends 'base.html' %}

{% block body %}


   
      <!--PRODUCTS-->
      <section class="new-arrival">
          <div class="arrival-heading">
              <strong>SUPER SEALS BONANZA</strong>
          </div>
          <div class="product-container">
              <div class="product-box" style="box-shadow:0px 5px 10px 0px #aaa;" id="one"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">SNEAKERS</a>
                      <img src="https://freepngimg.com/thumb/running%20shoes/15-nike-running-shoes-png-image.png" alt="">
                  </div>
                  <div class="product-details">
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵50-200</span>
                  </div>
              </div>
  
              <div class="product-box" style="box-shadow:0px 5px 10px 0px #aaa;"id="two"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">MENS WEAR</a>
                      <img src="  " alt="">
                  </div>
                  <div class="product-details">
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵30-150</span>
                  </div>
              </div>
  
              <div class="product-box"style="box-shadow:0px 5px 10px 0px #aaa;" id="three"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">WOMEN WEAR</a>
                      <img src=" " alt="">
                  </div>
                  <div class="product-details" >
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵30-150</span>
                  </div>
              </div>
  
              <div class="product-box" style="box-shadow:0px 5px 10px 0px #aaa;" id="four"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">BAGS</a>
                    
                      <img src="  https://ae01.alicdn.com/kf/HTB1KQxrgpooBKNjSZPhq6A2CXXaq/Nesitu-High-Quality-Vintage-Army-Green-Yellow-Coffee-Grey-Canvas-Women-Men-s-Backpack-14-Laptop.jpg_Q90.jpg_.webp" alt="">
                  </div>
                  <div class="product-details" >
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵30-100</span>
                  </div>
              </div>
  
  
  
  <!--first-->
  
  <div class="text-muted" style="text-align:left; padding-top:10px;">
      <a href="/budget"> <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; height:50px; width:200px;background: #094b65; color: #fff; border: none; border-radius: 10px; padding:10px;"><h5>Ardy's Store</h5> <i class="fas fa-arrow-right"></i></button>
  </a></div>
  <sectio data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="500" style=" height:60vh;" >
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;  ">
    <picture>
        <img src="{{url_for('static', filename='images/central mall/men/me.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  

      </a><br><br>
    </picture>
    <div class="detail">
      Press on nail <br>
        24 pieces<br/>
        
        Pre-order only<br>
        <s style="text-decoration: line-through;">GH₵ 50</s>
      <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 30</h6>
      
      
       				
  </div>
    
    </div>
      
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
    <picture>
      <img src="{{url_for('static', filename='images/central mall/men/dress.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
    </a>
    </picture>
    <div class="detail">
      
      Mid thigh dress <br>
      Singles<br>
      Pre-order only<br>
      
    
        
      <s style="text-decoration: line-through;">GH₵ 100</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 80</h6>
                  
    </div>
    
    </div>
    <div class="product" style=" height:30vh; object-fit:cover;  width:30vh;  ">
      <picture>
        <img src="{{url_for('static', filename='images/central mall/men/short.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
    </a>
    </picture>
      <div class="detail">
        Cute shorts for females<br>
        singles<br>
        Pre-order only<br>
        <s style="text-decoration: line-through;">GH₵ 60</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 45</h6>
                                    
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;    ">
      <picture>
        <img src="{{url_for('static', filename='images/central mall/men/bag.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  

      </a>
      </picture>
     
      <div class="detail">
        Customised tote bags <br>
        single<br>
        Pre-order only<br>
  
      
        
        <s style="text-decoration: line-through;">GH₵ 70</s>
      <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 55</h6>
      							
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
        <img src="{{url_for('static', filename='images/central mall/men/chain.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
      </a>
      </picture>
      <div class="detail">
        butterfly pendant necklaces <br>
       Singles<br>
        Pre-order only<br>
    
      
        <s style="text-decoration: line-through;">GH₵ 20</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 10</h6>
                                    
  </div>
    
    </div> 

  
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
  <picture>
    <img src="{{url_for('static', filename='images/central mall/men/crop.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
  </a></picture>
  <div class="detail">
  

    Cute crop tops<br>
    Singles<br>
    Pre-order only<br>
    
    <s style="text-decoration: line-through;">GH₵ 60</s>
    <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 55</h6>
                                
  </div>
  
  </div>
  
  
  </sectio>
  
  
  
  
  
  <!---street Jeans-->
  
  <div class="text-muted" style="text-align:left; padding-top:10px;">
             <a href="/budget"> <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; height:50px; width:200px;background: #094b65; color: #fff; border: none; border-radius: 10px; padding:10px;"><h5>YhaasClothing </h5><i class="fas fa-arrow-right"></i></button>
      </a></div>
  
  <sectio data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="500" style=" height:60vh;" >
  
    <div class="product" style=" height:30vh; object-fit:cover; width:30vh;  ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/112.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
    
      </a><br><br>
    </picture>
    <div class="detail">
      Denum Jeans Top<br>
    On Sale<br>
        <s style="text-decoration: line-through;">GH₵200 </s>
        <h6  style="background:red; width:120px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 70-120</h6>
                      
  </div>
    
    </div>
    <div class="product" style=" height:30vh; object-fit:cover;  width:30vh;  ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/111.jpg')}}"style=" height:30vh; width:100%;  object-fit:cover; "  alt="food" />  
       </a>
    </picture>
      <div class="detail">
        Street Jeans<br>
        On Sale<br>
        <s style="text-decoration: line-through;">GH₵ 150</s>
        <h6  style="background:red; width:120px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 70-120</h6>
                              
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;    ">
      <picture>
        <img src="{{url_for('static', filename='images/central mall/men/polo.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
     </a>
      </picture>
     
      <div class="detail">
        Official Polo Top<br>
        On Sale<br>
        <s style="text-decoration: line-through;">GH₵ 150</s>
        <h6  style="background:red; width:120px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 70-120</h6>
                                     
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/113.jpg')}}"style=" height:30vh; width:100%;  object-fit:cover; "  alt="food" />  
     </a>
      </picture>
      <div class="detail">
        
        Ladies Jeans<br>
        On Sale<br>
        <s style="text-decoration: line-through;">GH₵ 150</s>
        <h6  style="background:red; width:120px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 70-120</h6>
                                
  </div>
    
    </div> 
  
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
  <picture>
    <img src="{{url_for('static', filename='images/central mall/men/5.jpg')}}"style=" height:30vh; width:100%;  object-fit:cover; "  alt="food" />   
  </a>
  </picture>
  <div class="detail">
    
    Customised Shirt<br>
    On Sale<br>
    <s style="text-decoration: line-through;">GH₵ 150</s>
    <h6  style="background:red; width:120px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 70-120</h6>
                            
  </div>
  
  </div>
  
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
  <picture>
      <img src="{{url_for('static', filename='images/central mall/7.jpg')}}"style=" height:30vh;  width:100%; object-fit:cover; "  alt="food" />  
  </a></picture>
  <div class="detail">
    Street Jeans<br>
    On Sale<br>
    <s style="text-decoration: line-through;">GH₵ 150</s>
    <h6  style="background:red; width:120px;color:#fff; border-radius:0 0 10px;  padding: 10px;">GH₵ 70-120</h6>
                          
  </div>
  
  </div>
  
  
  </sectio>
  
  
  
      <!--men wear BOXX-->
  
    
  <div class="text-muted" style="text-align:left; padding-top:10px;">
      <a href="/budget"> <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; height:50px; width:300px;background: #094b65; color: #fff; border: none; border-radius: 10px; padding:10px;"><h5>Men's Wear GH₵75-120 </h5><i class="fas fa-arrow-right"></i></button>
  </a></div>
      <sectio data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="500" style=" height:60vh;" >
        <div class="product" style=" height:30vh; object-fit:cover; width:30vh;  ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/hood.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
      </a><br><br>
        </picture>
        <div class="detail">
         
            <s style="text-decoration: line-through;">GH₵ 120</s>
            <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
            
          
                         
      </div>
        
        </div>
        <div class="product" style=" height:30vh; object-fit:cover;  width:30vh;  ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/polo.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          </a>
        </picture>
          <div class="detail">
            <s style="text-decoration: line-through;">GH₵ 120</s>
      <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
      
          
                                 
      </div>
        
        </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;    ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/track.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          </a>
          </picture>
         
          <div class="detail">
           
            <s style="text-decoration: line-through;">GH₵ 120</s>
            <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
            
          
                                          
      </div>
        
        </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/5.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          </a>
          </picture>
          <div class="detail">
            
        
            <s style="text-decoration: line-through;">GH₵ 120</s>
            <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                                     
      </div>
        
        </div> 
      
      <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/3.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
      </a>
      </picture>
      <div class="detail">
        
        
      
          
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
        
                        
      </div>
      
      </div>
      
      <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/2.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
      </a></picture>
      <div class="detail">
      
        
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
        
                             
      </div>
      
      </div>
      
      
      </sectio>
   
{%endblock body%}