<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet"
        />

        <!--Icon-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!--main css-->
        <link rel="stylesheet" href="index.css" />
        <link rel="stylesheet" type="text/css" href="about.css">

        <title>mytripghana</title>
    </head>
    <body>
        <section class="Nav-bar">
            <div class="fix-widht">
                <div class="wrap-menu clear">
                    <div class="menu-logo left">
                        <a href="#">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/white-logo.svg"  />
                        </a>
                    </div>
                  
                    <div class="menu-side-bar">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="Banner-section">
            <div class="fix-widht">
                <div class="wraper-banner clear">
                    <div class="banner-text left">
                        <h1>Book A Trip To Your Favorite Destination At Ease!!</h1>
                        <p>We are a digital agency that helps brands to achieve their business outcomes. We see technology as a tool to create amazing things.</p>
                        <a class="banner-btn" href="#">GET STARTED</a>
                        <i class="fas fa-play"></i>
                        <span><a href="#">Watch Intro</a></span>
                    </div>
                    <div class="banner-image right">
            <img
              src="https://i.postimg.cc/Zn2jVjW9/tt.jpg"
              alt="error"
            />
                    </div>
                </div>
            </div>
        </section>

        <section class="Story-section">
            <div class="fix-widht">
                <div class="wrap-story clear">
                    <div class="story-image left">
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/about/about-img1.jpg" alt="story-image" />
                    </div>

                    <div class="story-contain right">
                        <h3>OUR STORY</h3>
                        <h1>Our team comes with the experience and knowledge</h1>
                        <div class="story-tab">
                            
                                <input type="radio" id="item-1" name="tb" />
                                <input type="radio" id="item-2" name="tb" />
                                <input type="radio" id="item-3" name="tb" />

                                <label for="item-1">Who We Are</label>
                                <label for="item-2">Our Vision</label>
                                <label for="item-3">Our History</label>

                                
    
                            <div class="all-comon">
                                <div class="Who-We-Are common">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                        distribution of letters, look like readable English.<br />
                                        <br />
    
                                        There are many variations of passages of Lorem Ipsum available, but the majority have in some form, by injected humour.
                                    </p>
                                </div>
                                
                                <div class="Our-Vision common">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                        distribution of letters, look like readable English.<br />
                                        <br />
    
                                        There are many variations of passages of Lorem Ipsum available, but the majority have in some form, by injected humour.
                                    </p>
                                </div>
    
                                <div class="Our-History common">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                        distribution of letters, look like readable English.<br />
                                        <br />
    
                                        There are many variations of passages of Lorem Ipsum available, but the majority have in some form, by injected humour.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="Service-section">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>Services</span>
                    <h2>Our Best Services</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>

                <div class="wrap-service-contain clear">
                    <div class="service-contaian left">
                        <i class="fas fa-capsules"></i>
                        <h2>Refreshing Design</h2>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor dolore magna.</p>
                    </div>

                    <div class="service-contaian left">
                        <i class="fab fa-bootstrap"></i>
                        <h2>Solid Bootstrap 5</h2>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor dolore magna.</p>
                    </div>

                    <div class="service-contaian left">
                        <i class="fas fa-code"></i>
                        <h2>100+ Components</h2>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor dolore magna.</p>
                    </div>

                    <div class="service-contaian left">
                        <i class="fas fa-tachometer-alt"></i>
                        <h2>Speed Optimized</h2>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor dolore magna.</p>
                    </div>

                    <div class="service-contaian left">
                        <i class="fas fa-layer-group"></i>
                        <h2>Fully Customizable</h2>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor dolore magna.</p>
                    </div>

                    <div class="service-contaian left">
                        <i class="fas fa-sync"></i>
                        <h2>Regular Updates</h2>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor dolore magna.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="Promo-section">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>Our Intro Video</span>
                    <h2>Watch Our Promo Video</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>

                <div class="promo-contain">
                    <img src="https://demo.ayroui.com/templates/business-template/assets/images/video/video-bg.png" alt="promo-contian-imag" />
                    <a href="https://youtu.be/r44RKWyfcFw">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </section>

        <section class="Portfolio-section">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>Our Portfolio</span>
                    <h2>Our Recent Works</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
                <div class="portfolio-menu">
                    <ul>
                        <li><a href="#">ALL WORK</a></li>
                        <li><a href="#">BRANDING</a></li>
                        <li><a href="#">MARKETING</a></li>
                        <li><a href="#">PLANNING</a></li>
                        <li><a href="#">RESEARCH</a></li>
                    </ul>
                </div>

                <div class="wrap-portfolio-image clear">
                    <div class="portfolio-image left">
                        <a href="#"><img src="https://demo.ayroui.com/templates/business-template/assets/images/portfolio/pf1.jpg" alt="" /> </a>
                        <h2>Graphics Design</h2>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>

                    <div class="portfolio-image left">
                        <a href="#">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/portfolio/pf2.jpg" alt="" />
                        </a>
                        <h2>Web Development</h2>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>

                    <div class="portfolio-image left">
                        <a href="#">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/portfolio/pf3.jpg" alt="" />
                        </a>
                        <h2>App Development</h2>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>

                    <div class="portfolio-image left">
                        <a href="#">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/portfolio/pf4.jpg" alt="" />
                        </a>
                        <h2>Digital Marketing</h2>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>

                    <div class="portfolio-image left">
                        <a href="#">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/portfolio/pf5.jpg" alt="" />
                        </a>
                        <h2>SEO Services</h2>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>

                    <div class="portfolio-image left">
                        <a href="#">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/portfolio/pf6.jpg" alt="" />
                        </a>
                        <h2>Product Design</h2>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="Pricing-section">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>Pricing</span>
                    <h2>Pricing & Plans</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
                <div class="wrap-pricing-table clear">
                    <div class="pricing-table-contain left">
                        <h4>Starter</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                        <h1><sup>$</sup>0<span>/mo</span></h1>
                        <div class="pricing-btn">
                            <a href="#">START FREE TRAIL</a>
                        </div>
                        <div class="pricing-text">
                            <ul>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Cras justo odio.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Dapibus ac facilisis in.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Morbi leo risus.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Excepteur sint occaecat velit.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricing-table-contain left">
                        <h4>Starter</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                        <h1><sup>$</sup>0<span>/mo</span></h1>
                        <div class="pricing-btn">
                            <a href="#">START FREE TRAIL</a>
                        </div>
                        <div class="pricing-text">
                            <ul>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Cras justo odio.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Dapibus ac facilisis in.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Morbi leo risus.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Excepteur sint occaecat velit.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricing-table-contain left">
                        <h4>Starter</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                        <h1><sup>$</sup>0<span>/mo</span></h1>
                        <div class="pricing-btn">
                            <a href="#">START FREE TRAIL</a>
                        </div>
                        <div class="pricing-text">
                            <ul>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Cras justo odio.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Dapibus ac facilisis in.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Morbi leo risus.</li>
                                <li><i class="far fa-check-circle all-circle-logo"></i> Excepteur sint occaecat velit.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="Team-section">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>Our Team</span>
                    <h2>Our Creative Team</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
                <div class="wraper-team-section clear">
                    <div class="inner-team-contain left">
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/team/team-1.jpg" alt="" />
                        <div class="inner-text">
                            <h2>Jeffery Riley</h2>
                            <p>Art Director</p>
                        </div>
                    </div>

                    <div class="inner-team-contain left">
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/team/team-2.jpg" alt="" />
                        <div class="inner-text">
                            <h2>Riley Beata</h2>
                            <p>Web Developer</p>
                        </div>
                    </div>

                    <div class="inner-team-contain left">
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/team/team-3.jpg" alt="" />
                        <div class="inner-text">
                            <h2>Mark Alone</h2>
                            <p>UX Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="Testimonail-1">
            <div class="fix-widht">
                <div class="wraper-testimonial-1 center">
                    <h1>We love to make perfect solutions for your business</h1>
                    <p>
                        Why I say old chap that is, spiffing off his nut cor blimey guvnords geeza bloke knees up bobby, sloshed arse William cack Richard. Bloke fanny around chesed of bum bag old lost the pilot say there spiffing off his
                        nut.
                    </p>
                    <div class="testimonial-1-btn">
                        <a href="#">GET STARTED</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="Testimonial-section-2">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>Customer Reviews</span>
                    <h2>Our Testimonials</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
                <div class="wraper-testimonial-2 clear">
                    <div class="contain-1-testimonial-2 left">
                        <p>On the other hand denoun with righteous and disliks men who are beguiled demorae momentc blinded by desire that can</p>
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/testimonial/author-1.jpg" alt="" />
                        <h2>Musharof Chowdhury</h2>
                        <span>Web Entrepreneur</span>
                    </div>
                    <div class="contain-2-testimonial-2 right">
                        <p>On the other hand denoun with righteous and disliks men who are beguiled demorae momentc blinded by desire that can</p>
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/testimonial/author-2.jpg" alt="" />
                        <h2>David Warner</h2>
                        <span>Web Developer</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="Latest-news-section">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>latest news</span>
                    <h2>Latest News & Blog</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
                <div class="wraper-latest-news clear">
                    <div class="inner-latest-news left">
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/blog/1.jpg" alt="" />

                        <div class="latest-news-text">
                            <h1>Make your team a Design driven company</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>

                    <div class="inner-latest-news left">
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/blog/1.jpg" alt="" />

                        <div class="latest-news-text">
                            <h1>Make your team a Design driven company</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>

                    <div class="inner-latest-news left">
                        <img src="https://demo.ayroui.com/templates/business-template/assets/images/blog/1.jpg" alt="" />

                        <div class="latest-news-text">
                            <h1>Make your team a Design driven company</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="Brand-area-section">
            <div class="fix-widht">
                <div class="service-header-text center">
                    <span>Meet our Clients</span>
                    <h2>Our Awesome Clients</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
                <div class="baba">
                    <div class="wraper-brand-area clear">
                        <div class="brand-logo left">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/client-logo/graygrids.svg" alt="" />
                        </div>

                        <div class="brand-logo left">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/client-logo/uideck.svg" alt="" />
                        </div>

                        <div class="brand-logo left">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/client-logo/ayroui.svg" alt="" />
                        </div>

                        <div class="brand-logo left">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/client-logo/lineicons.svg" alt="" />
                        </div>

                        <div class="brand-logo left">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/client-logo/tailwindtemplates.svg" alt="" />
                        </div>

                        <div class="brand-logo left">
                            <img src="https://demo.ayroui.com/templates/business-template/assets/images/client-logo/ecomhtml.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="Contact-section">
            <div class="fix-widht">
                <div class="wraper-contact-section clear">
                    <div class="address-contact">
                        <i class="fas fa-phone"></i>
                        <h1>Contact</h1>
                        <h4>0984537278623</h4>
                        <p>yourmail@gmail.com</p>
                    </div>

                    <div class="address-contact">
                        <i class="fas fa-map-marker-alt"></i>
                        <h1>Contact</h1>
                        <h4>0984537278623</h4>
                        <p>yourmail@gmail.com</p>
                    </div>

                    <div class="address-contact">
                        <i class="fas fa-stopwatch"></i>
                        <h1>Contact</h1>
                        <h4>0984537278623</h4>
                        <p>yourmail@gmail.com</p>
                    </div>

                    <div class="contact-form right">
                        <form action="#">
                            <h3>Get in Touch</h3>
                            <h1>Ready to Get Started</h1>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus quiblanditiis praesentium</p>
                            <input class="all-input" type="text" placeholder="Name" required/>
                            <input class="all-input" type="mail" placeholder="Email" required/>
                            <input class="all-input" type="text" placeholder="Phone" required/>
                            <input class="all-input" type="text" placeholder="Subject" required/>
                            <textarea class="all-input-textare" rows="" cols="" placeholder="Type Message"></textarea>
                            
                                <div class="btn-form">
                                    <a class="form-btn" href="#">SEND MESSAGE</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="Map-section">
            <div class="wraper-map">
                <object style="border:0; height: 500px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.7887109309127!2d-77.44196278417968!3d38.95165507956235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzjCsDU3JzA2LjAiTiA3N8KwMjYnMjMuMiJX!5e0!3m2!1sen!2sbd!4v1545420879707"></object>
            </div>
        </section>
        <footer class="Footer-section">
            <div class="fix-widht">
                <div class="wraper-footer-section clear">
                    <div class="footer-1 left">
                        <img class="footer-1-logo" src="https://demo.ayroui.com/templates/business-template/assets/images/logo.svg" alt="footer-image">
                        <p> Making the world a better place through constructing elegant hierarchies. <br> <br>

                            © 2024 Ayro UI. <br> Designed and Developed by <span>Ayro UI</span> </p>
                    
                    </div>
                    <div class="footer-2 left">
                        <h2>Solutions</h2>
                        <ul>
                            <li>Marketing</li>
                            <li>Analytics</li>
                            <li>Commerce</li>
                            <li>Insights</li>
                        </ul>
                    </div>
                    <div class="footer-3 left">
                        <h2>Support</h2>
                        <ul>
                            <li>Pricing</li>
                            <li>Documentation</li>
                            <li>Guides</li>
                            <li>API Status</li>
                        </ul>
                    </div>
                    <div class="footer-4 left">
                        <h2>Subscribe</h2>
                        <p>Subscribe to our newsletter for the latest updates</p>
                        <input class="footer-input" type="Email" placeholder="Email address" required>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>


