{% extends 'base.html' %}

{% block body %}


   
      <!--PRODUCTS-->
      <section class="new-arrival">
          <div class="arrival-heading">
              <strong>SUPER SEALS BONANZA</strong>
          </div>
          <div class="product-container">
              <div class="product-box" style="box-shadow:0px 5px 10px 0px #aaa;" id="one"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">SNEAKERS</a>
                      <img src="https://freepngimg.com/thumb/running%20shoes/15-nike-running-shoes-png-image.png" alt="">
                  </div>
                  <div class="product-details">
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵50-200</span>
                  </div>
              </div>
  
              <div class="product-box" style="box-shadow:0px 5px 10px 0px #aaa;"id="two"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">MENS WEAR</a>
                      <img src="  " alt="">
                  </div>
                  <div class="product-details">
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵30-150</span>
                  </div>
              </div>
  
              <div class="product-box"style="box-shadow:0px 5px 10px 0px #aaa;" id="three"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">WOMEN WEAR</a>
                      <img src=" " alt="">
                  </div>
                  <div class="product-details" >
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵30-150</span>
                  </div>
              </div>
  
              <div class="product-box" style="box-shadow:0px 5px 10px 0px #aaa;" id="four"data-aos="fade-up">
                  <div class="product-img">
                      <a href="#" class="add-cart">BAGS</a>
                    
                      <img src="  https://ae01.alicdn.com/kf/HTB1KQxrgpooBKNjSZPhq6A2CXXaq/Nesitu-High-Quality-Vintage-Army-Green-Yellow-Coffee-Grey-Canvas-Women-Men-s-Backpack-14-Laptop.jpg_Q90.jpg_.webp" alt="">
                  </div>
                  <div class="product-details" >
                      <a href="#" class="p-name">BUDGET</a>
                      <span class="p-price">   GH₵30-100</span>
                  </div>
              </div>
  
  
  
  <!--first-->
  
  <div class="text-muted" style="text-align:left; padding-top:10px;">
      <a href="/budget"> <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; height:50px; width:300px;background: #094b65; color: #fff; border: none; border-radius: 10px; padding:10px;"><h5>Discount GH₵75-120</h5> <i class="fas fa-arrow-right"></i></button>
  </a></div>
  <sectio data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="500" style=" height:60vh;" >
    <div class="product" style=" height:30vh; object-fit:cover; width:30vh;  ">
      <picture>
        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIlaM6ruIMTzRR-6Q2HPAZFfBRsFTi-Yr3iQ&usqp=CAU">  <a href="https://bridgeviewgh.com/venue"><img src=" https://img1.cohimg.net/is/image/Coach/c1059_jis2k_a0?$plpMob$"  style=" height:30vh; object-fit:cover; " alt=""></a>
      </a><br><br>
    </picture>
    <div class="detail">
        <s style="text-decoration: line-through;">GH₵ 120</s>
      <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
      
      
       				
  </div>
    
    </div>
    <div class="product" style=" height:30vh; object-fit:cover;  width:30vh;  ">
      <picture>
    <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIlaM6ruIMTzRR-6Q2HPAZFfBRsFTi-Yr3iQ&usqp=CAU">  <a href="https://bridgeviewgh.com/venue">  <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIlaM6ruIMTzRR-6Q2HPAZFfBRsFTi-Yr3iQ&usqp=CAU"  style=" height:30vh; object-fit:cover; " alt=""></a>
      </a>
    </picture>
      <div class="detail">
       
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                                    
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;    ">
      <picture>
  <img src="https://ae01.alicdn.com/kf/HTB1KQxrgpooBKNjSZPhq6A2CXXaq/Nesitu-High-Quality-Vintage-Army-Green-Yellow-Coffee-Grey-Canvas-Women-Men-s-Backpack-14-Laptop.jpg_Q90.jpg_.webp" style=" height:30vh; object-fit:cover; " alt="">
      </a>
      </picture>
     
      <div class="detail">
       
  
      
        
        <s style="text-decoration: line-through;">GH₵ 120</s>
      <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
      							
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTczuudkZ2wOK7XvsUZJ7M2lHFc3rH0FU_DpQ&usqp=CAU"  style=" height:30vh; object-fit:cover; " alt="">
      </a>
      </picture>
      <div class="detail">
        
    
      
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                                    
  </div>
    
    </div> 
  
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
  <picture>
   <a href="https://www.google.com.gh/maps/dir/5.7711202,0.0819187/Peace+Holiday+Resort,+Big+Ada/@5.8346477,0.2121234,11z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x10210195b26060f9:0x896772b6147bfddb!2m2!1d0.6233353!2d5.7951317!3e0?hl=en"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIlaM6ruIMTzRR-6Q2HPAZFfBRsFTi-Yr3iQ&usqp=CAU "  style=" height:30vh; object-fit:cover; "alt="">
   </a>
  </picture>
  <div class="detail">
    
    
  
      
    <s style="text-decoration: line-through;">GH₵ 120</s>
      <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
      					
  </div>
  
  </div>
  
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
  <picture>
  <a href="https://www.google.com.gh/maps/dir/5.7711202,0.0819187/Aqua+Safari+Resort,+Agorkpo+St,+Ada+Foah/@5.8346477,0.2105003,11z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x102102182056aaf5:0x23fbaeafa265fbcb!2m2!1d0.6187924!2d5.8253385!3e0?hl=en"><img src="https://cdn.shopify.com/s/files/1/2388/7315/products/Screen_Shot_2018-11-11_at_5.47.41_PM_300x300.png?v=1571710820"  style=" height:30vh; object-fit:cover; " alt="">
  </a></picture>
  <div class="detail">
  
    
    <s style="text-decoration: line-through;">GH₵ 120</s>
    <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                                
  </div>
  
  </div>
  
  
  </sectio>
  
  
  
  
  
  <!---street Jeans-->
  
  <div class="text-muted" style="text-align:left; padding-top:10px;">
             <a href="/budget"> <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; height:50px; width:300px;background: #094b65; color: #fff; border: none; border-radius: 10px; padding:10px;"><h5>Street Jeans GH₵70-120 </h5><i class="fas fa-arrow-right"></i></button>
      </a></div>
  
  <sectio data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="500" style=" height:60vh;" >
  
    <div class="product" style=" height:30vh; object-fit:cover; width:30vh;  ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/112.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
    
      </a><br><br>
    </picture>
    <div class="detail">
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                      
  </div>
    
    </div>
    <div class="product" style=" height:30vh; object-fit:cover;  width:30vh;  ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/111.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
       </a>
    </picture>
      <div class="detail">
       
         
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                              
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;    ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/5.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
     </a>
      </picture>
     
      <div class="detail">
       
  
      
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                                      
  </div>
    
    </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/113.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
     </a>
      </picture>
      <div class="detail">
        
    
      
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                                   
  </div>
    
    </div> 
  
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
  <picture>
      <img src="{{url_for('static', filename='images/central mall/9.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
  </a>
  </picture>
  <div class="detail">
    
    
  
    <s style="text-decoration: line-through;">GH₵ 120</s>
    <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                              
  </div>
  
  </div>
  
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
  <picture>
      <img src="{{url_for('static', filename='images/central mall/7.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
  </a></picture>
  <div class="detail">
  
    <s style="text-decoration: line-through;">GH₵ 120</s>
    <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
      
      
                              
  </div>
  
  </div>
  
  
  </sectio>
  
  
  
      <!--men wear BOXX-->
  
    
  <div class="text-muted" style="text-align:left; padding-top:10px;">
      <a href="/budget"> <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; height:50px; width:300px;background: #094b65; color: #fff; border: none; border-radius: 10px; padding:10px;"><h5>Men's Wear GH₵75-120 </h5><i class="fas fa-arrow-right"></i></button>
  </a></div>
      <sectio data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="500" style=" height:60vh;" >
        <div class="product" style=" height:30vh; object-fit:cover; width:30vh;  ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/hood.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
      </a><br><br>
        </picture>
        <div class="detail">
         
            <s style="text-decoration: line-through;">GH₵ 120</s>
            <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
            
          
                         
      </div>
        
        </div>
        <div class="product" style=" height:30vh; object-fit:cover;  width:30vh;  ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/polo.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          </a>
        </picture>
          <div class="detail">
            <s style="text-decoration: line-through;">GH₵ 120</s>
      <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
      
          
                                 
      </div>
        
        </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;    ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/track.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          </a>
          </picture>
         
          <div class="detail">
           
            <s style="text-decoration: line-through;">GH₵ 120</s>
            <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
            
          
                                          
      </div>
        
        </div> <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
          <picture>
              <img src="{{url_for('static', filename='images/central mall/men/5.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          </a>
          </picture>
          <div class="detail">
            
        
            <s style="text-decoration: line-through;">GH₵ 120</s>
            <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
                                     
      </div>
        
        </div> 
      
      <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/3.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
      </a>
      </picture>
      <div class="detail">
        
        
      
          
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
        
                        
      </div>
      
      </div>
      
      <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
      <picture>
          <img src="{{url_for('static', filename='images/central mall/men/2.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
      </a></picture>
      <div class="detail">
      
        
        <s style="text-decoration: line-through;">GH₵ 120</s>
        <h6  style="background:red; width:100px;color:#fff; border-radius:0 0 10px; padding: 10px;">GH₵ 120</h6>
        
                             
      </div>
      
      </div>
      
      
      </sectio>
   
{%endblock body%}