<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial scale=1.0, minimum-sale=1" />
    <title>TripGhana</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/venue.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="venue.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Show a second modal and hide this one with the button below.
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Hide this modal and show the first with the button below.
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
  </body>

 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</html>
................................

<h2 class="food-titile" style="text-align:left;margin-top:20px; "> <i class="fas fa-tablet-rugged    "></i> Get the best of Everything</h2>

<sectio data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="500" style=" height:47vh;" >
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;  ">
    <picture>
      <img src="https://www.contemporaryartgalleries.net/content/images/2020/11/ADA-1.jpg"  style=" height:30vh; object-fit:cover; " alt="">
    </picture>
    <div class="detail">
      
      <h2><b> ADA, Accra art gallery </h2>
        
        <div class="star-rating" style="color:orange; margin-top:2px;">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
       
      
     
    		
</div>
  
  </div>

  <div class="product" style=" height:30vh; object-fit:cover;  width:30vh;  ">
    <picture>
      <img src="https://images.squarespace-cdn.com/content/v1/61b0bebec6accb6e3301e2cd/1639051098517-PJJ531416B8LGGQU34T0/nubuke-foundation-accra-off-to-magazine-nipah-dennis-2020-0001.jpg"  style=" height:30vh; object-fit:cover; " alt="">
    </picture>
    <div class="detail">
      
      <h2><b> 
       
      
        </b></h2>
        <div class="star-rating" style="color:orange; margin-top:2px;">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
</div>
  
  </div> 
<div> 

  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;    ">
    <picture>
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.entertainmentgh.com%2Fopinion%2Fhidden-treasure-savannah-centre-for-contemporary-art-in-tamale%2F&psig=AOvVaw1Z7TXV_QTaHM7-Tqg-ggBr&ust=1664460995927000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJiv4cjWt_oCFQAAAAAdAAAAABAD"  style=" height:30vh; object-fit:cover; " alt="">
    </picture>
    <div class="detail">
      
      <h2><b> THE SAVANNAH CENTRE OF CONTEMPORARY ART 
       
      
        </b></h2>
        <div class="star-rating" style="color:orange; margin-top:2px;">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
</div>
  </div> 
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
    <picture>
      <img src="https://media.timeout.com/images/100708473/750/422/image.jpg"  style=" height:30vh; object-fit:cover; " alt="">
    </picture>
    <div class="detail">
      
      <h2><b> The Loom 

       
      
        </b></h2>
        <div class="star-rating" style="color:orange; margin-top:2px;">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
</div>
  
  </div> 
  <div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
    <picture>
      <img src="https://thesoleadventurer.com/wp-content/uploads/2018/12/DSF4037.jpg"  style=" height:30vh; object-fit:cover; " alt="">
    </picture>
    <div class="detail">
      
      <h2><b> Kuenyehia art gallery
       
      
        </b></h2>
        <div class="star-rating" style="color:orange; margin-top:2px;">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
       			
</div>
  
</div>

<div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
<picture>
  <img src="https://d16kd6gzalkogb.cloudfront.net/magazine_images/Emmanuel_Takas_exhibition_after_his_residency_at_Noldor.jpeg"  style=" height:30vh; object-fit:cover; " alt="">
</picture>
<div class="detail">
  
  <h2><b>  NOLDOR RESIDENCY
   
  
    </b></h2>
    <div class="star-rating" style="color:orange; margin-top:2px;">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
   			
</div>

</div>

<div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
<picture>
<img src="https://d7hftxdivxxvm.cloudfront.net/?resize_to=fill&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2FZBDKNLUBeNtmVY6U_dPNTw%252F1%2BKwesi%2BBotchway%252C%2BInstall%252C%2BGallery%2B1957%2BLondon%252C%2BOct%2B2020.jpg&width=1200&height=630&quality=80"  style=" height:30vh; object-fit:cover; " alt="">
</picture>
<div class="detail">

<h2><b>  Gallery 1957

 

  </b></h2>
  <div class="star-rating" style="color:orange; margin-top:2px;">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
  </div>
       
</div>
 			
</div>

</div>
<div class="product" style=" height:30vh; object-fit:cover; width:30vh;   ">
<picture>
<img src="https://i0.wp.com/mrpocu.com/wp-content/uploads/2022/04/15715717-2562-4302-896C-FD9A9C5C3124.jpeg?resize=671%2C447&ssl=1"  style=" height:30vh; object-fit:cover; " alt="">
</picture>
<div class="detail">

<h2><b>  Artists’ Alliance Gallery 
 

  </b></h2>
  <div class="star-rating" style="color:orange; margin-top:2px;">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
  </div>

 			
</div>

</div>


</sectio> 