<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restraunt</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="venue.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css')}}">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

   </head><img src="" alt="">
  <body>
    <script>
      AOS.init();
    </script>
    <nav class="navbar" >
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
              <li ><a href="/six" >Home</a></li>
              <li><a href="/second">About</a></li>
              <li><a href="/third">Events</a></li>
              <li><a href="/seven">Our Team</a></li>
              
             
                       </ul>
          <h1 class="logo">TripGhana.com</h1>
      </div>
  </nav>
    <section class="showcase-area" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">

      <div class="showcase-container">
        
    </section>

    <section id="about" >
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">Promotion! Promotion!  </p>
          <h2>Promote your product</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ab
            eos omnis, nobis dignissimos perferendis et officia architecto,
            fugiat possimus eaque qui ullam excepturi suscipit aliquid optio,
            maiores praesentium soluta alias asperiores saepe commodi
            consequatur? Perferendis est placeat facere aspernatur!
          <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
            <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
            <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
          </ul>
          </p>
          
        </div>
        <div class="about-img">
          <img src="https://s3.studylib.net/store/data/008107414_1-e5799d1ae97f181edd7403dad9d651fc.png"/>
        </div>
      </div>
    </section>

		<article class="box" style="--bg-color: deepskyblue;">
		  <img class="img" src='https://www.ecpi.edu/sites/default/files/ecpi-blog-cta-buscj.png' width="800" height="450" alt=''>
		  <h2 class="title"><a href="#0" aria-label="Learn more Sunset Beach">Sunset Beach</a></h2>
		  <p class="tagline">Dip your toes in the ocean</p>
		  <div class="tag">Beach</div>
		  <div class="actions">
			<button class="btn" title="Save as favorite">
			  <svg data-icon="heart" viewBox="0 0 512 512">
				<path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" />
			  </svg>
			</button>
			<button class="btn" title="Share this trip">
			  <svg data-icon="share" viewBox="0 0 512 512">
				<path d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z" />
			  </svg>
			</button>
		  </div>
		</article>

    <section id="about" >
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">Promotion! Promotion!  </p>
          <h2>Promote your product</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ab
            eos omnis, nobis dignissimos perferendis et officia architecto,
            fugiat possimus eaque qui ullam excepturi suscipit aliquid optio,
            maiores praesentium soluta alias asperiores saepe commodi
            consequatur? Perferendis est placeat facere aspernatur!
          </p>
          <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
            <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
            <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
          </ul>
        </div>
        <div class="about-img">
          <img src="https://www.webfx.com/wp-content/uploads/2021/10/hello-fresh-social-media-ad.png"/>
        </div>
      </div>
    </section>

    
		<article class="box" style="--bg-color: deepskyblue;">
		  <img class="img" src='https://img.freepik.com/free-vector/realistic-sale-background-with-ripped-paper_23-2148860761.jpg?w=900&t=st=1660818778~exp=1660819378~hmac=677b97f7a68670e3c1caba29a06849e314e614c5c4ea0546700cea197b075465' width="800" height="450" alt=''>
		  <h2 class="title"><a href="#0" aria-label="Learn more Sunset Beach">Sunset Beach</a></h2>
		  <p class="tagline">Dip your toes in the ocean</p>
		  <div class="tag">Beach</div>
		  <div class="actions">
			<button class="btn" title="Save as favorite">
			  <svg data-icon="heart" viewBox="0 0 512 512">
				<path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" />
			  </svg>
			</button>
			<button class="btn" title="Share this trip">
			  <svg data-icon="share" viewBox="0 0 512 512">
				<path d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z" />
			  </svg>
			</button>
		  </div>
		</article>

    <section id="about" >
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">Promotion! Promotion!  </p>
          <h2>Promote your product</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ab
            eos omnis, nobis dignissimos perferendis et officia architecto,
            fugiat possimus eaque qui ullam excepturi suscipit aliquid optio,
            maiores praesentium soluta alias asperiores saepe commodi
            consequatur? Perferendis est placeat facere aspernatur!
          </p>
          <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
            <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
            <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
          </ul>
        </div>
        <div class="about-img">
          <img src="https://www.webfx.com/wp-content/uploads/2021/10/hello-fresh-social-media-ad.png"/>
        </div>
      </div>
    </section>
  </body>
  <!-- 
    .................../ JS Code for smooth scrolling /...................... -->
    
	  <i class="fas fa-copyright" style="margin-left:90px">copyright TripGhana 2022 Created by Kalitex Creatives</i>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</html>
