<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial scale=1.0, minimum-sale=1" />
    <title>TripGhana</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/venue.css')}}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="venue.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <nav class="navbar">
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            
              <li><a href="/hom">Home</a></li>

              <li><a href="/about">About</a></li>
              <li><a href="/event">Events</a></li>
      
              <li><a href="/ourteam">Our Team</a></li>
             
           
           
              
         
          </ul>
          
          <h1 class="logo">MyTripGhana</h1>  
      </div>
  </nav>
    <section class="showcase-area" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">
      <div class="showcase-container">
        <h1 class="main-title" id="home" style="color:#fff;">Promotion! Promotion! </h1>
        <p style="color:#fff;">Run Promotions at discounted prices</p>
        <a href="/event" class="btn btn-primary">Events</a>
      </div>
    </section>


    
    <section id="about" >
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">Promotion! Promotion!  </p>
          <h2>Promote your product</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ab
            eos omnis, nobis dignissimos perferendis et officia architecto,
            fugiat possimus eaque qui ullam excepturi suscipit aliquid optio,
            maiores praesentium soluta alias asperiores saepe commodi
            consequatur? Perferendis est placeat facere aspernatur!
          <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
            <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
            <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
          </ul>
          </p>
          
        </div>
        <!--
        <div class="about-img">
          <img src="https://www.webfx.com/wp-content/uploads/2021/10/hello-fresh-social-media-ad.png"/>
        </div>
      -->
      </div>
    </section>
    
    
    
    
    </body>
    
            
	  <i class="fas fa-copyright" style="margin-left:90px">copyright TripGhana 2022 Created by Kalitex Creatives</i>  </body>
  <!-- 
    .................../ JS Code for smooth scrolling /...................... -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on("click", function (event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
  
            // Store hash
            var hash = this.hash;
  
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top,
              },
              800,
              function () {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
</html>

