

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial scale=1.0, minimum-sale=1" />
    <title>TripGhana</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/venue.css')}}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="venue.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <nav class="navbar">
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            
              <li><a href="/hom">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/event">Events</a></li>
              <li><a href="/promotion">Promotion</a></li>
             
             
           
           
              
         
          </ul>
          
          <h1 class="logo">MyTripGhana</h1>
      </div>
  </nav>
    <section class="showcase-area" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">
      <div class="showcase-container">
        <h1 class="main-title" id="home" style="color:#fff;">Meet Our Core Team</h1>
        <p style="color:#fff;">
          Best of the Best tours, attractions & activities you won’t want to miss.</p>
        <a href="/event" class="btn btn-primary">Events</a>
      </div>
    </section>

 


    <section id="about" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">
    <div class="contact-container container">
      <div class="contact-img">
        <img src="{{url_for('static', filename='images/danny.jpeg')}}" alt="food" />  
      </div>
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">Our Team</p>
          <h2>Danny Darpoh Junior</h2>
          <p>
"We bring you the best of Events,<br> Promotions and  Amazing Places <br> you wouldn't want to miss out on " <br>
 
          </p>
       
        
        <!--
        <div class="about-img">
          <img src="{{url_for('static', filename='images/danny.jpeg')}}" alt="food" />  
		</div>
  --> <br><br>
    <ul class="social">
      <li><a href="https://gh.linkedin.com/in/ohene-ebenezer-aggrey-mills-aa8670237"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
      <a href="https://gh.linkedin.com/in/ohene-ebenezer-aggrey-mills-aa8670237"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
      <a href="https://gh.linkedin.com/in/ohene-ebenezer-aggrey-mills-aa8670237"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
      </div>
    </div>
    </section>

    

    <section id="about" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">
    <div class="contact-container container">
      <div class="contact-img">
        <img src="{{url_for('static', filename='images/me.jpeg')}}" alt="food" />  
      </div>
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">Our Team</p>
          <p class="small">Co-Founder/CTO</p>
          <h2>Ebenezer Aggrey-Mills</h2>
          <p>
"make we trip together with no stress,  <br>cheers " <br>

          </p>
        
        <!--
        <div class="about-img">
          <img src="{{url_for('static', filename='images/danny.jpeg')}}" alt="food" />  
		</div>
  --> <br><br>
    <ul class="social">
      <li><a href="https://gh.linkedin.com/in/ohene-ebenezer-aggrey-mills-aa8670237"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
      <a href="https://gh.linkedin.com/in/ohene-ebenezer-aggrey-mills-aa8670237"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
      <a href="https://gh.linkedin.com/in/ohene-ebenezer-aggrey-mills-aa8670237"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
      </div>
    </div>
    </section>
    
    
	  <i class="fas fa-copyright" style="margin-left:90px">copyright TripGhana 2022 Created by Kalitex Creatives</i>  </body>
  <!-- 
    .................../ JS Code for smooth scrolling /...................... -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on("click", function (event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
  
            // Store hash
            var hash = this.hash;
  
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top,
              },
              800,
              function () {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
</html>
