<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="jquery-3.5.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static',filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/land.css') }}">
    
  
  </head>
  <body>
    
     














<div class="wrapper">
 
<section id="home" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <div >
                    <h1 class="header">Welcome to</h1> <h1 class="header" style="color: #094b65;">mytripghana .com</h1>
                </div>
                <br>
                <h6 class="support-regular" style="font-weight: 400;"> Find discount hotels, restraunts, resorts, events.<br>  
                    Looking to find great travel deals or enjoy the biggest savings on your next trip? Mytripghana.com has you covered with our easy-to-use website and app. With Mytripghana.com, quality travel services are just a call—or click—away.</p>
                   </h6>
                <br>
                <br>
                <div class="flex">
                   
                       <a href="/budget"> <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; height:50px; width:250px;background: #094b65; color: #fff; border: none; border-radius: 10px; padding:10px;">Scroll down to explore <i class="fas fa-arrow-down"></i></button>
                                </a>
                                <div class="wrapper" style="display:flex;">
                                    <div class="icon facebook">
                                       <div class="tooltip">
                                          mytripgh_
                                       </div>
                                       <span><i class="fab fa-facebook-f"></i></span>
                                    </div>
                                    <div class="icon twitter">
                                       <div class="tooltip">
                                          mytripgh__
                                       </div>
                                       <span><i class="fab fa-twitter"></i></span>
                                    </div>
                                    <div class="icon instagram">
                                       <div class="tooltip">
                                          promoteme__
                                       </div>
                                       <span><i class="fab fa-instagram"></i></span>
                                      </div>
                                    <div class="icon youtube">
                                       <div class="tooltip">
                                          Promote__
                                       </div>
                                       <span><i class="fab fa-youtube"></i></span>
                                    </div>
                                 </div>     
                </div>
            </div>
            <div class="col-md-6">
                <img data-aos="zoom-in" data-aos-duration="2000" src=".static/imgages/tp.jpeg " class="middle-img" width="100%" alt="">
                <img src="https://pbs.twimg.com/media/FY0uL09WAAAG3tO?format=jpg&name=large"width="100%" data-aos="zoom-in" data-aos-duration="2000"  />  
  
           
            </div>
        </div>
    </div>
</section>



<section style="background-color: #febd1950;">
    <div class="container">
        <div class="row" style="margin-top: auto; margin-bottom: auto ;">
            <div class="col-md-6">
                <img src="https://www.lemonbeachresort.com/wp-content/uploads/2019/05/8W6A5677.jpg" width="100%" data-aos="fade-right" data-aos-duration="1000"data-aos="zoom-in" data-aos-duration="2000"  />  
  
                <img  src="../static/img/pizza.png" class="middle-img" width="100%"  alt="">
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" class="col-md-6">
                <h4 class="header" style="font-size: 40px;">Get the best of the best locations in Ghana</h4>
                <br>
                <h6 class="support-regular">Find destinations, information and hotel prices for these popular destinations. You can also check prices for hotels in cities in Ghana using the "Hotel" menu option. Join our online community and share your review and your travel experiences.</h6>
                <br>
                <a href="/budget">  <button class="button-solid-black" style="font-weight: bold; background-color:  #117964;">Find things to do  <i class="fas fa-arrow-right"></i></button></a>
            </div>
        </div>
    </div>

</section>

<section id="about">
    <div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6 class="support" style="color: #117964;" data-aos="fade-right">ABOUT THE DEVELOPERS</h6>
                <br>
                <h4 data-aos-delay="100" data-aos="fade-right" class="header" style="font-size: 40px;">Kalitex Creatives</h4>
                <br>
                <h6 data-aos-delay="150" data-aos="fade-right" class="support-regular">Together, we have about 10 years of combined experience delivering outstanding IT services and solving problems with technology. 

                  
                    We look after our staff so they can look after your business needs. Every member of our team brings their own unique expertise and energy to what they do.
                    
                    We learn from our experiences – and from each other – to build better, brighter solutions for our customers.</h6>
                <br>
                <br>
                <div class="flex">
                   
                    <a href="/">    <button class="button-solid-black" style="margin-right: 24px; margin-bottom: 24px; background:#094b65;">Scan to speak to us<i class="fas fa-arrow-right"></i></button></a>
                    </a>
                   
                        
                 
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{url_for('static', filename='images/we.jpeg')}}"width="100%" data-aos="zoom-in" data-aos-duration="2000"  />  
            </div>
        </div>
    </div>
</div>
</section>


<section id="branches" class="branches">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 24px;">
                
                <h6 class="support" style="color: #117964;" data-aos="fade-right">GET STARTED</h6>
                <!-- <br> -->
                <h6 class="support-regular">When you want to find the really good stuff, sometimes, you gotta do things a little differently. Try a secret tour, check out an under-the-radar market, or take a cooking class.</h6>
                <br>
                <br>
                <div class="flex">
                    
                    <a href="/budget">    <button class="button-solid-black" style="margin-right: 24px; background:#094b65; margin-bottom: 24px;">Where would you like to visit <i class="fas fa-arrow-right"></i></button></a>
                    </a>
                </div>
                
            </div>
            <div class="col-md-6">

                

                <div data-aos="fade-up" >
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">Labone</h4>
                            <h6 class="branch-support"> 30km away</h6>
                        </div>
                        <div>
                            <a href="/budget">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                        </div>
                    </div>
                    <hr>
                </div>


                <div data-aos="fade-up">
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">Afienya</h4>
                            <h6 class="branch-support"> <a href="#">Open In Maps</a></h6>
                        </div>
                        <div>
                            <a href="/budget">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div data-aos="fade-up">
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">Dansoman</h4>
                            <h6 class="branch-support"> <a href="#">Open In Maps</a></h6>
                        </div>
                        <div>
                            <a href="/budget">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                  </div>
                    </div>
                    <hr>
                </div>

                <div data-aos="fade-up">
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">Tema</h4>
                            <h6 class="branch-support"> <a href="#">Open In Maps</a></h6>
                        </div>
                        <div>
                            <a href="/budget">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div data-aos="fade-up">
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">Accra Mall</h4>
                            <h6 class="branch-support"> <a href="#">Open In Maps</a></h6>
                        </div>
                        <div>
                            <a href="/budget">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div data-aos="fade-up">
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">West Hills Mall</h4>
                            <h6 class="branch-support"> <a href="#">Open In Maps</a></h6>
                        </div>
                        <div>
                            <a href="/budget">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                  </div>
                    </div>
                    <hr>
                </div>

                <div data-aos="fade-up">
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">Achimota Mall</h4>
                            <h6 class="branch-support"> <a href="#">Open In Maps</a></h6>
                        </div>
                        <div>
                            <a href="/budget">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div data-aos="fade-up">
                    <!-- <div class="elip"></div> -->
                    <div style="display:flex; justify-content: space-between;">
                        <div>
                            <h4 class="branch-main">Dawhenya</h4>
                            <h6 class="branch-support"> <a href="#">Open In Maps</a></h6>
                        </div>
                        <div>
                            <a href="/welcome">  <h6 class="support-regular" style="width: auto; color:#094b65; opacity: 100%; margin-top: auto; margin-bottom: auto;">Get started<i class="fas fa-arrow-right"></i></h6></a>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</section>
</div>



<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


