<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial scale=1.0, minimum-sale=1" />
    <title>mytripghana</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css')}}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="venue.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <script>
      AOS.init();
    </script>

    <nav class="navbar">

      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="/home">Trips</a></li>
            <li><a href="/hotel">Hotel</a></li>
            <li><a href="/signinn">My Account</a></li>
            <li><a href="/signinn">Restaurants</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/event">Events</a></li>
            <li><a href="/promotion">Shopping</a></li>
           
            <li><a href="/security"><b>Rental Cars</b></a></li>
            <li><a href="/security"><b>Flights</b></a></li>
            <li><a href="/security"><b>Vacation Pacakages</b></a></li>
          
         
           
              
         
          </ul>
          
             <h1 class="logo" style=" font-family:Verdana, Geneva, Tahoma, sans-serif;  font-size: 3vh; margin-top:10px"> <i class="fas fa-search-location"  style="width:10px; height:10px;"  ></i> <a href="/hom" style="text-decoration:none; color:#094b65;">MyTripGhana</a></h1>
      </div>
  </nav>
  
    <section class="showcase-area" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">
    
    <ul class="social" style="color:#fff; text-align:center">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
      <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
      <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
      <div class="showcase-container">
       
      </div>
    </section>


    <section id="contact"data-aos="fade-up"
    data-aos-duration="1000">
      <div class="contact-container container" style="box-shadow:0 2px 10px -3px #117964;">
        
        <div class="contact-img">
          <img src="https://www.coupons.com.gh/attachments/1a3aa283d8f387cdecd57e751a9cf6cedb993b51/store/fill/1000!/600!/9bc6748304c7969e4d9600abec33bb569c95fa71a504dc834c8cac6b4af1/bondai-restaurant-and-bar-3.jpg" alt="" />
        </div>
        <div class="about-wrapper container">
          <div class="about-text">
            
            <h2>Bôndai Restaurant & Bar</h2>
            <div class="star-rating" style="color:orange;"> 
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
             
              
           
             Welcome to Accra’s most beautiful new restaurant. Serving you Mediterranean & Japanese dishes., We are Bôndai., #bondai #bondaigh #bondailife...
             <h3 style="color:#117964;"><i class="fas fa-money-bill"></i>: GHS 25 - GHS 300</h3>
             <h3 style="color:#117964;"><i class="fas fa-directions"></i>: 52 Dadebu Rd, Accra</h3>
            <h3 style="color:#117964;"> <i class="fas fa-phone    "></i>:050 885 8888</h3>
             <div class="testimonial-box">
             

              <div class="customer-detail">
                <div class="customer-photo">
                  <img src="https://pbs.twimg.com/media/ElMGLxMXUAAkwBG.jpg"style="float:right;" alt="" />
                </div>
              </div>
            </div>
          
             <a 
                 href="https://www.google.com/maps/dir/5.7405128,0.046657/52+Dadebu+Rd,+Accra/@5.6528169,-0.2119854,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xfdf9bee20d8398f:0x97d6a6fa052b9cda!2m2!1d-0.1780402!2d5.5629503?hl=en"
                 class="btn btn-primary"
                 target="blank"
                 >Directions</a
               >
            
            </p>
            
          </div>
      </section>
    


      
    <section id="about" data-aos="fade-up"
    data-aos-duration="1000">
      <div class="contact-container container " style="box-shadow:0 2px 10px -3px #117964; ">
        <div class="contact-img">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.0274444495394!2d-0.18022888523403696!3d5.562950295966682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9bee20d8398f%3A0x97d6a6fa052b9cda!2zQsO0bmRhaQ!5e0!3m2!1sen!2sgh!4v1664707801892!5m2!1sen!2sgh" width="300" height="300" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>     </div>
        <div class="about-wrapper container">
          <div class="about-text">
            <p class="small">#No13</p>
            <h2>Bôndai Restaurant & Bar</h2>
            <div class="star-rating" style="color:orange;">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
              <div class="testimonial-box">
                <div class="customer-detail">
                  <div class="customer-photo">
                    <img src="https://www.coupons.com.gh/attachments/4d688f5812fb9f3e25bd60286565c8b24994874c/store/fill/1000!/600!/4af8938c1902df1de67d245949277059b117feb12b708c9996b930d1703f/bondai-restaurant-and-bar-1.jpg"style="float:right" alt="" />
                  </div>
                </div>
              </div>  
             A restaurant, specializing in healthy Mediterranean and Asian food.
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ab
             eos omnis, nobis dignissimos perferendis et officia architecto,
             fugiat possimus eaque qui ullam excepturi suscipit aliquid optio,
             
            
              
          
            
          </div>  
    </section>
      
    <section class="showcase-area" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">
      <div class="showcase-container">
        
      </div>
    </section>

          <!--
          <div class="about-img">
            <img src="https://www.webfx.com/wp-content/uploads/2021/10/hello-fresh-social-media-ad.png"/>
          </div>
        -->
        </div>
      </section>
    
    </body>
    
            

           
  <i class="fas fa-copyright" style="margin-left:60px; margin-top:40px">copyright MyTripGhana 2022 Created by Kalitex Creatives</i>   </body>
  <!-- 
    .................../ JS Code for smooth scrolling /...................... -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on("click", function (event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
  
            // Store hash
            var hash = this.hash;
  
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top,
              },
              800,
              function () {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
</html>



