<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial scale=1.0, minimum-sale=1" />
   <title>TripGhana</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/venue.css')}}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="venue.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <nav class="navbar">
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="/hom">Home</a></li>
              <li><a href="/rest">Restaurants</a></li>
              <li><a href="/home">Resorts</a></li>  
              <li><a href="/about">About</a></li>
              <li><a href="/event">Events</a></li>
              <li><a href="/promotion">Promotions</a></li>
              <li><a href="/ourteam">Our Team</a></li>
            
           
             
           
           
              
         
          </ul>
          
          <h1 class="logo">MyTripGhana.com</h1>
      </div>
  </nav>
    <section class="showcase-area" id="showcase" data-aos="fade-up"
    data-aos-duration="3000">
      <div class="showcase-container">
        <h1 class="main-title" id="home" style="color:#fff;">Get out there</h1>
        <p style="color:#fff;">
          Best of the Best tours, attractions & activities you won’t want to miss.</p>
        <a href="/event" class="btn btn-primary">Events</a>
      </div>
    </section>

    </section>


    
    <section id="food" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
    <h2 class="food-menu-heading">Accra</h2>
     
      <div class="food-container container">
        <div class="food-type fruite">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/2000000/1640000/1632500/1632468/3d7d5dac.jpg?impolicy=resizecrop&rw=670&ra=fit" alt="error" />
            <div class="img-content">
              <h3>FiestaRoyale</h3>
              <a
                href="https://fiestahospitality.com/"
                class="btn btn-primary"
                target="blank"
                > more</a
              >
            </div>
            
          </div>
          
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
        <div class="food-type vegetable">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/15000000/14650000/14648000/14648000/85d0ac50_z.jpg" alt="error" />
            <div class="img-content">
              <h3>Agoo</h3>
              <a
                href="https://agoo-hostel.business.site/?utm_source=gmb&utm_medium=referral"
                class="btn btn-primary"
                target="blank"
                >more</a
              >
            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                  <div class="customer-photo">
                    <p class="customer-name">Shai Hills Camp, GA</p>
                  </div>
                </div>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
          </div>
        </div>

   
        <div class="food-type grin">
          <div class="img-container">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/70/2e/95/superior-room.jpg?w=900&h=-1&s=1" alt="error" />
            <div class="img-content">
              <h3>LaBeachHotel</h3>
              <a
                href="https://labadibeachhotelgh.com/"
                class="btn btn-primary"
                target="blank"
                > more</a>
            </div>
          </div>
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>

          
        </div>
       
      </div>
      
      <div class="More">
      </div>
        
      
      
    </section>
    <h2 class="food-menu-heading">Akosombo</h2>
      <div class="food-container container">
        <div class="food-type fruite">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/2000000/1640000/1632500/1632468/3d7d5dac.jpg?impolicy=resizecrop&rw=670&ra=fit" alt="error" />
            <div class="img-content">
              <h3>FiestaRoyale</h3>
              <a
                href="https://fiestahospitality.com/"
                class="btn btn-primary"
                target="blank"
                > more</a
              >
            </div>
            
          </div>
          
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
        <div class="food-type vegetable">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/15000000/14650000/14648000/14648000/85d0ac50_z.jpg" alt="error" />
            <div class="img-content">
              <h3>Agoo</h3>
              <a
                href="https://agoo-hostel.business.site/?utm_source=gmb&utm_medium=referral"
                class="btn btn-primary"
                target="blank"
                >more</a
              >
            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                  <div class="customer-photo">
                    <p class="customer-name">Shai Hills Camp, GA</p>
                  </div>
                </div>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
          </div>
        </div>
        <div class="food-type grin">
          <div class="img-container">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/70/2e/95/superior-room.jpg?w=900&h=-1&s=1" alt="error" />
            <div class="img-content">
              <h3>LaBeachHotel</h3>
              <a
                href="https://labadibeachhotelgh.com/"
                class="btn btn-primary"
                target="blank"
                > more</a>
            </div>
          </div>
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>

          
        </div>
       
      </div>
      
      <div class="More">
      </div>
        
      
      
    </section>
    
      <div class="food-container container">
        <div class="food-type fruite">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/2000000/1640000/1632500/1632468/3d7d5dac.jpg?impolicy=resizecrop&rw=670&ra=fit" alt="error" />
            <div class="img-content">
              <h3>FiestaRoyale</h3>
              <a
                href="https://fiestahospitality.com/"
                class="btn btn-primary"
                target="blank"
                > more</a
              >
            </div>
            
          </div>
          
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
        <div class="food-type vegetable">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/15000000/14650000/14648000/14648000/85d0ac50_z.jpg" alt="error" />
            <div class="img-content">
              <h3>Agoo</h3>
              <a
                href="https://agoo-hostel.business.site/?utm_source=gmb&utm_medium=referral"
                class="btn btn-primary"
                target="blank"
                >more</a
              >
            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                  <div class="customer-photo">
                    <p class="customer-name">Shai Hills Camp, GA</p>
                  </div>
                </div>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
          </div>
        </div>
        <div class="food-type grin">
          <div class="img-container">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/70/2e/95/superior-room.jpg?w=900&h=-1&s=1" alt="error" />
            <div class="img-content">
              <h3>LaBeachHotel</h3>
              <a
                href="https://labadibeachhotelgh.com/"
                class="btn btn-primary"
                target="blank"
                > more</a>
            </div>
          </div>
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>

          
        </div>
       
      </div>
      
      <div class="More">
      </div>
        
      
      
    </section>
     
    <h2 class="food-menu-heading">Osu</h2>
      <div class="food-container container">
        <div class="food-type fruite">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/2000000/1640000/1632500/1632468/3d7d5dac.jpg?impolicy=resizecrop&rw=670&ra=fit" alt="error" />
            <div class="img-content">
              <h3>FiestaRoyale</h3>
              <a
                href="https://fiestahospitality.com/"
                class="btn btn-primary"
                target="blank"
                > more</a
              >
            </div>
            
          </div>
          
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
        <div class="food-type vegetable">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/15000000/14650000/14648000/14648000/85d0ac50_z.jpg" alt="error" />
            <div class="img-content">
              <h3>Agoo</h3>
              <a
                href="https://agoo-hostel.business.site/?utm_source=gmb&utm_medium=referral"
                class="btn btn-primary"
                target="blank"
                >more</a
              >
            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                  <div class="customer-photo">
                    <p class="customer-name">Shai Hills Camp, GA</p>
                  </div>
                </div>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
          </div>
        </div>
        <div class="food-type grin">
          <div class="img-container">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/70/2e/95/superior-room.jpg?w=900&h=-1&s=1" alt="error" />
            <div class="img-content">
              <h3>LaBeachHotel</h3>
              <a
                href="https://labadibeachhotelgh.com/"
                class="btn btn-primary"
                target="blank"
                > more</a>
            </div>
          </div>
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>

          
        </div>
       
      </div>
      
      <div class="More">
      </div>
        
      
      
    </section>
     
     
      <div class="food-container container">
        <div class="food-type fruite">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/2000000/1640000/1632500/1632468/3d7d5dac.jpg?impolicy=resizecrop&rw=670&ra=fit" alt="error" />
            <div class="img-content">
              <h3>FiestaRoyale</h3>
              <a
                href="https://fiestahospitality.com/"
                class="btn btn-primary"
                target="blank"
                > more</a
              >
            </div>
            
          </div>
          
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
        <div class="food-type vegetable">
          <div class="img-container">
            <img src="https://images.trvl-media.com/hotels/15000000/14650000/14648000/14648000/85d0ac50_z.jpg" alt="error" />
            <div class="img-content">
              <h3>Agoo</h3>
              <a
                href="https://agoo-hostel.business.site/?utm_source=gmb&utm_medium=referral"
                class="btn btn-primary"
                target="blank"
                >more</a
              >
            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                  <div class="customer-photo">
                    <p class="customer-name">Shai Hills Camp, GA</p>
                  </div>
                </div>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
          </div>
        </div>
        <div class="food-type grin">
          <div class="img-container">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/70/2e/95/superior-room.jpg?w=900&h=-1&s=1" alt="error" />
            <div class="img-content">
              <h3>LaBeachHotel</h3>
              <a
                href="https://labadibeachhotelgh.com/"
                class="btn btn-primary"
                target="blank"
                > more</a>
            </div>
          </div>
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <p class="customer-name">Shai Hills Camp, GA</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>

          
        </div>
       
      </div>
      
      <div class="More">
      </div>
        
      
      
    </section>

    
        

      <div class="More">  
        <a
          href=""
          class="btni btni-primary"
          target="blank"
          >Explore More</a
        >
</div>
    </section>

    <section id="contact"data-aos="fade-up"
    data-aos-duration="1000">
      <div class="contact-container container">
        <div class="contact-img">
          <img src="https://i.postimg.cc/1XvYM67V/restraunt2.jpg" alt="" />
        </div>

        
        <div class="about-text">
          <h2>We've Got You All Covered</h2>
          
            TripGhana.com is a rapidly-growing global online company, We are here to help you plan the perfect trip. Whether you're going on holiday, taking a business trip, or looking to set up a corporate travel account here in Ghana, TripGhana.com is here to help you travel through Ghana at ease.<br><br>
           
           <ul class="social">
              <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a>
              <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a>
              <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
            </ul>
        </div>
         
      </section>
           
      <i class="fas fa-copyright" style="margin-left:60px; margin-top:40px">copyright MyTripGhana 2022 Created by Kalitex Creatives</i>  </body>
  <!-- 
    .................../ JS Code for smooth scrolling /...................... -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on("click", function (event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
  
            // Store hash
            var hash = this.hash;
  
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top,
              },
              800,
              function () {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
</html>
