{% extends 'base.html' %}

{% block body %}



  
  <section id="search">
    <div class="container">
      <input type="search" id="site-search" aria-label="Search products" placeholder="Search Products">
    </div>
    
  </section><! - End Search - >

  
  <section id="recent">
    <div class="container narrow">
      <h2 class="section-title"><b>Yhaa'sClothing</b></h2>
    </div>
    <div class="container narrow"> 
      <div class="slider">
        <a href="#0" class="product-card shadow-1">
          <div class="card-inner">
            <div class="card-image"></div>
            <div class="card-categories">
                <!--
              <span class="category red"><span> Sale</span></span>
              <span class="category blue"><span>Refurbished</span></span>-->
              <span class="category green"><span>Sale</span></span><br><br><br><br>
             <div class="card-title">Phone Numbers<br>0264258450<br>0264258450<br>0555733350</div>
             
             
           
            </div>
            <div class="card-title">Price Range</div>
          <div class="card-price">GH₵ 70-120<div class="original-price">GH₵ 210</div></div>
            <div class="card-id"><h6>Coupon ID: centralmall</h6></div>
          </div>
        </a>
        <a href="#0" class="product-card shadow-1"> <img src="{{url_for('static', filename='images/central mall/men/112.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
            <div class="card-title">Quality Recently Viewed</div>
            <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/hood.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
               <div class="card-title">Quality Recently Viewed</div> 
               <div class="card-id">Coupon ID: centralmall</div>
            </div>
           
        </a>
        <a href="#0" class="product-card shadow-1"> <img src="{{url_for('static', filename='images/central mall/men/1.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/polo.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1">  <img src="{{url_for('static', filename='images/central mall/men/114.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/track.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>
        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j7.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/5.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j6.jpg')}}"style=" height:30vh;width:100%;  object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/3.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
          </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j1.jpg')}}"style=" height:30vh;width:100%;  object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/2.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j2.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/4.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/111.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/01.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j3.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/03.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
          </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/2.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/02.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>
      </div>




<!--mediaone-->
<section id="category-cards">
  <div class="container narrow">
    <div id="section-header">
      <h2 class="section-title">Featured Accessories</h2>
      <a href="#0">View More +</a>
    </div>
  </div>
  <div class="container narrow">
    <div class="slider">
      <a href="#0" class="category-card shadow-1">
        <div class="card-inner">
          <div class="card-image"><img src="{{url_for('static', filename='images/901.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
              <div class="card-title">Portable Blender</div>
              <div class="original-price">GH₵ 100</div></div>
        
        </div>
      </a>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/905.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Quality Recently Viewed.</div>
          <div class="original-price">GH₵ 100</div></a>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/902.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Foldable kettle</div>
          <div class="original-price">GH₵ 120</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/903.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">3-in-one b-fast marker</div>
          <div class="original-price">GH₵ 400</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/904.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Electric cooker</div>
          <div class="original-price">GH₵ 200</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/905.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Cloth horse</div>
       <div class="original-price">GH₵ 160</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/905.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Quality Recently Viewed.</div>
          <div class="original-price">GH₵ 100</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/905.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Quality Recently Viewed.</div>
          <div class="original-price">GH₵ 100</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/905.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Quality Recently Viewed.</div>
          <div class="original-price">GH₵ 100</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/905.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Quality Recently Viewed.</div>
          <div class="original-price">GH₵ 100</div>
      <a href="#0" class="category-card shadow-1"><img src="{{url_for('static', filename='images/905.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" /> 
          <div class="card-title">Quality Recently Viewed.</div>
          <div class="original-price">GH₵ 100</div></a>
      </div>
  </div>
</section>
<!--endofmedia-->




  <section id="recent">
    <div class="container narrow">
      <h2 class="section-title"><b>YhaasClothing</b></h2>
    </div>
    <div class="container narrow"> 
      <div class="slider">
        <a href="#0" class="product-card shadow-1">
          <div class="card-inner">
            <div class="card-image"></div>
            <div class="card-categories">
                <!--
              <span class="category red"><span> Sale</span></span>
              <span class="category blue"><span>Refurbished</span></span>-->
              <span class="category red"><span>PreOrder</span></span><br><br><br><br>
             <div class="card-title">Phone Numbers<br>0264258450<br>0264258450<br>0555733350</div>
            </div>
            <div class="card-title">Price Range</div>
          <div class="card-price">GH₵ 70-120<div class="original-price">GH₵ 210</div></div>
            <div class="card-id"><h6>Coupon ID: centralmall</h6></div>
          </div>
        </a>
        <a href="#0" class="product-card shadow-1"> <img src="{{url_for('static', filename='images/central mall/men/112.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
            <div class="card-title">Quality Recently Viewed</div>
            <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/hood.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
               <div class="card-title">Quality Recently Viewed</div> 
               <div class="card-id">Coupon ID: centralmall</div>
            </div>
           
        </a>
        <a href="#0" class="product-card shadow-1"> <img src="{{url_for('static', filename='images/central mall/men/1.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/polo.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1">  <img src="{{url_for('static', filename='images/central mall/men/114.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/track.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>
        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j7.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/5.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j6.jpg')}}"style=" height:30vh;width:100%;  object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/3.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
          </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j1.jpg')}}"style=" height:30vh;width:100%;  object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/2.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j2.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/4.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/111.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/01.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/j3.jpg')}}"style=" height:30vh; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/03.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
          </a>

        <a href="#0" class="product-card shadow-1"><img src="{{url_for('static', filename='images/central mall/men/2.jpg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />  
          <div class="card-title">Quality Recently Viewed</div>
          <div class="product-card shadow" style="height:30vh;"><img src="{{url_for('static', filename='images/central mall/men/02.jpeg')}}"style=" height:30vh; width:100%; object-fit:cover; "  alt="food" />   
             <div class="card-title">Quality Recently Viewed</div> 
             <div class="card-id">Coupon ID: centralmall</div>
          </div>
        </a>
      </div>



  

  
  <section id="footer">
      
          <ul class="menu horizontal">
           
          
          </ul>
        </nav>
      </div>
      
  </section>  
 
  <section id="help">
    <a class="help-button inactive tra-1 bounce" href="#0">Help</a>
  </section>
  

  

  <div class="center-div text-center"id="this"data-aos="zoom-in">
    <a href="#this">Load More &rarr;</a>
</div>
</section>

{%endblock body%}
